{% extends "base_template.html" %}

{% block content %}
<div class="wrapper row1">
    <header class="hoc clear" id="header">
        <h1>New User Approval</h1>
    </header>
</div>
<div class="wrapper row1">
    <div class="hoc container clear">
        <div class="one_quarter first"><span style="visibility: hidden;">Hidden Text</span></div>
        <div class="one_half">
            <h4>User Details</h4>
            <form action="approve_new_user_process" method="post" id="user_approval_form" name="user_approval_form">
                <fieldset>
                    <div class="block clear">
                        <label class="col-md-4 control-label">User Full Name</label>
                        <input name="user_full_name" placeholder="User Full Name" class="form-control" type="text" value="{{ user['full_name'] }}"
                            readonly>
                    </div>
                    <!-- Text input-->
                    <div class="block clear">
                        <label>User Email</label>
                        <input class="form-control" name="user_email" placeholder="User Email" type="text" value="{{ user['email'] }}" readonly>
                    </div>
                    <div class="block clear">
                        <label class="col-md-4 control-label">User Contact</label>
                        <input name="user_contact" placeholder="(845)555-1212" class="form-control" type="text" value="{{ user['phone'] }}" readonly>
                    </div>
                    <div class="block clear">
                        <label class="col-md-4 control-label">UserName</label>
                        <input name="username" placeholder="Username" class="form-control" type="text" value="{{ user['username'] }}" readonly>
                    </div>
                    <div class="block clear">
                        <label class="col-md-4 control-label">Account Type</label>
                        <input name="user_type" placeholder="User Type" class="form-control" type="text" value="{{ user['user_type'] }}" readonly>
                    </div>
                    <!-- Button -->
                    <div class="block clear">
                        <div class="one_third">
                            <button type="submit" class="btn" name="submit" value="Approve">Approve</button>
                        </div>
                        <div class="one_third">
                            <button type="submit" class="btn" name="submit" value="Reject">Reject</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}