{% extends "base_template.html" %} 

{% block content %}
<div class="wrapper row1">
    <header class="hoc clear" id="header">
        <h1>Add New Email Tempate</h1>
    </header>
</div>
<div class="wrapper row1">
    <div class="hoc container clear">
        <div class="one_quarter first"><span style="visibility: hidden;">Hidden Text</span></div>
        <div id="comments" class="one_half">
            <h4>Email Template</h4>
            <form class="well form-horizontal" action="/new_emailtemplate_process" method="post" id="email_template_add" name="email_template_add">
                <fieldset>
                    <!-- Text input-->
                    <div class="block clear">
                        <label style="color: #d43f3a">Template Name</label>
                        <input name="template_name" placeholder="Eg. Formal Template" class="form-control" type="text">
                    </div>
                    <div class="block clear">
                        <label>Salutation</label>
                        <input name="salutation" placeholder="Eg Dear,Greetings..." class="form-control" type="text">
                    </div>
                    <!-- Text input-->
                    <div class="block clear">
                        <label>Main Body</label>
                        <textarea name="main_body" rows="10" cols="50" placeholder="Place the Content of the Email here. This shall be formatted later."
                            class="form-control"></textarea>
                    </div>
                    <div class="block clear">
                        <label>Closing</label>
                        <input name="closing" placeholder="Eg. With Warm Regards.." class="form-control" type="text">
                    </div>
                    <div class="block clear">
                        <label>Signature Block</label>
                        <textarea rows="4" cols="50" name="signature_block" placeholder="Place the Signature Block here. The name of the Volunteer will be automatically added on top with other contact info."
                            class="form-control"></textarea>
                    </div>
                    <!-- Button -->
                    <div class="block clear">
                        <button type="submit" class="btn">Add Template</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}