{% extends "base_template.html" %}

{% block content %}
<div class="wrapper row1">
    <header class="hoc clear" id="header">
        <h1>Allot Volunteer</h1>
    </header>
</div>
<div class="wrapper row1">
    <div class="hoc container clear">
        <div class="one_quarter first"><span style="visibility: hidden;">Hidden Text</span></div>
        <div id="comments" class="one_half">
            <h4>Donor Details</h4>
            <form class="well form-horizontal" action="/allot_volunteer_process" method="post" id="donor_registration_form" name="donor_registration_form">
                <fieldset>
                    <!-- Text input-->
                    <input name="donor_id" value="{{ donor['id'] }}" class="form-control" type="hidden">
                    <div class="form-group">
                        <label>Donor Name</label>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="donor_name" placeholder="Donor Name" class="form-control" type="text" readonly value="{{ donor['title']+' '+ donor['name'] }}">
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label>Donor Organization</label>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                            <input name="donor_org" placeholder="Donor Organization" class="form-control" type="text" readonly value="{{ donor['org'] }}">
                    </div>
                    <div class="form-group">
                        <label>Donor Email</label>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input name="donor_email" placeholder="Donor Email" class="form-control" type="text" readonly value="{{ donor['email'] }}">
                    </div>

                    <div class="form-group">
                        <label>Donor Contact</label>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                            <input name="donor_contact" placeholder="(845)555-1212" class="form-control" type="text" readonly value="{{ donor['phone'] }}">
                    </div>
                    <div class="form-group">
                        <label style="color: #761c19">Keep Anonymous</label>
                            <input name="anonymous_select" placeholder="Anonymous" class="form-control" type="text" readonly value="{{ donor['anonymous_select'] }}">

                            </select>
                    </div>
                    <hr>
                    <h4>Contact Person Details</h4>
                    <div class="form-group">
                        <label>Contact Person</label>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="contact_person" placeholder="Contact Person" class="form-control" type="text" readonly value="{{ donor['contact_person'] }}">
                    </div>

                    <div class="form-group">
                        <label>Contact Date</label>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            <input name="contact_date" placeholder="Contact Date" class="form-control" type="text" readonly value="{{ donor['contact_date'] }}">
                    </div>
                    <hr>
                    <h4>Volunteer Details</h4>
                    <div class="form-group">
                        <label>Volunteer Name</label>
                            <select name="volunteer_name" placeholder="Volunteer Name" class="form-control">
                                {% if volunteers!=None %}
                                    {% for line in volunteers %}
                                            <option>{{ line['full_name'] }}</option>

                                    {% endfor %}
                                {% endif %}
                            </select>
                    </div>
                    <hr>
                    <!-- Button -->
                    <div class="form-group">
                        <label></label>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-warning">Allot</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}