<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invalid Login Attempt</title>
</head>
<body>
<div class="container"><h1 style="text-align: center"><u>Invalid Login Attempt</u></h1></div>
<div class="container"><h3>Looks like you were trying to access the page which you which you have not been granted
    permission by the administrator.Please contact the administrator for resolving the issue.</h3></div>
<div class="container"><h4><a href="/">Main Page</a></h4></div>
</body>
</html>