{% extends "log_template.html" %} 

{% block panel %}
<div class="wrapper row2">
    <div class="hoc container clear">
        <form class="well form-horizontal" action="send_email_indl_donor_compose" method="post" id="donor_registration_form" name="donor_registration_form">
            <fieldset>
                <!-- Form Name -->
                <h4>Send Email to Donor</h4>
                <input name="donor_id" value="{{ donor_obj['id'] }}" class="form-control" type="hidden">
                <!-- Text input-->
                <div class="block clear">
                    <label>Contact Person</label>
                    <input name="contact_person" placeholder="Contact Person" class="form-control" type="text" value="{{ session['logged_user_full_name'] }}">
                </div>
                <div class="block clear">
                    <label>Contact Date</label>
                    <input name="contact_date" placeholder="Contact Date" class="form-control" type="text" readonly value="{{ current_date }}">
                </div>
                <div class="block clear">
                    <label>Contact Time</label>
                    <input name="contact_time" placeholder="Contact Date" class="form-control" type="text" readonly value="{{ current_time }}">
                </div>
                <div class="block clear">
                    <label>Template Name</label>
                    <select name="template_name" placeholder="Template Name" class="form-control">
                        <option selected>Manual Composition</option>
                        {% for templates in email_template_list %}
                            <option>{{ templates['template_name'] }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Button -->
                <div class="block clear">
                    <button type="submit" class="btn btn-warning">Compose Email<span class="glyphicon glyphicon-send"></span></button>
                </div>
    </div>
    </fieldset>
    </form>
</div>
</div>
{% endblock %}