{% extends "log_template.html" %}

{% block panel %}
<div class="row2 wrapper">
    <div class="hoc container clear">
        <h4>Compose Email To Donor</h4>
        <form class="well form-horizontal" action="/send_email_indl_donor_transmit" method="post" id="donor_registration_form" name="donor_registration_form">
            <fieldset>
                <!-- Form Name -->
                <input name="donor_id" value="{{ donor_obj['id'] }}" class="form-control" type="hidden">
                <!-- Text input-->
                <div class="block clear">
                    <label><font color="#dc143c">Email Template</font></label>
                    <input name="email_template" placeholder="Email template" class="form-control" type="text" value="{{ email_template_obj['template_name'] }}"
                        readonly>
                </div>
                <div class="block clear">
                    <label>Contact Person</label>
                    <input name="contact_person" placeholder="Contact Person" class="form-control" type="text" value="{{ session['logged_user_full_name'] }}" data-validation="length" data-validation-length="min4">
                </div>

                <div class="block clear">
                    <label>Contact Date</label>
                    <input name="contact_date" placeholder="Contact Date" class="form-control" type="text" readonly value="{{ current_date }}">
                </div>
                <div class="block clear">
                    <label>Contact Time</label>
                    <input name="contact_time" placeholder="Contact Date" class="form-control" type="text" readonly value="{{ current_time }}">
                </div>
                <div class="block clear">
                    <label>Salutation</label>
                    <input name="salutation" placeholder="Eg Dear,Greetings..." class="form-control" type="text" value="{{ email_template_obj['salutation'] }}" data-validation="length" data-validation-length="min5">
                </div>

                <!-- Text input-->

                <div class="block clear">
                    <label>Main Body</label>
                    <textarea name="main_body" rows="10" cols="50" placeholder="Place the Content of the Email here. This shall be formatted later."
                        class="form-control" data-validation="length" data-validation-length="min5">{{ email_template_obj.main_body }}</textarea>

                </div>

                <div class="block clear">
                    <label>Closing</label>
                    <input name="closing" placeholder="Eg. With Warm Regards.." class="form-control" type="text" value="{{ email_template_obj.closing }}" data-validation="length" data-validation-length="min5">
                </div>
                <div class="block clear">
                    <label>Signature Block</label>
                    <textarea rows="4" cols="50" name="signature_block" placeholder="Place the Signature Block here. The name of the Volunteer will be automatically added on top with other contact info."
                        class="form-control" data-validation="length" data-validation-length="min5">{{ email_template_obj.signature_block }}</textarea>
                </div>


                <!-- Button -->
                <div class="block clear">
                    <button type="submit" class="btn btn-warning">Send Email<span
                        class="glyphicon glyphicon-send"></span></button>
                </div>

            </fieldset>
        </form>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
<script>
  $.validate({
    lang: 'en'
  });
</script>

    </div>
</div>
{% endblock %}